<div class="test">
    <h3 appHightLight style="width: 200px">Đây là component about</h3> 
    <p appHightLight>Đây là component about</p>
    <!-- <h1>Trái cây</h1>
        <div *ngFor="let trai of TraiCay; let i = index">
            <li>{{ i + 1 }}. {{ trai}}</li>
        </div> -->
    <br/>
    <!-- <table class="table">

        <tr>
            <th>Thứ tự</th>
            <th>Tên</th>
            <th>Giá</th> 
            <th>Đại hạ giá</th>         
        </tr>
        <tr *ngFor="let trai of TraiCay2; let i =index">
            <td>{{ i+1 }}</td>
            <td>{{ trai.ten | uppercase }}</td>
            <td class="right">
                <span [ngClass]="{'so-am': trai.gia<0}">{{ trai.gia | currency: 'VND':'symbol': '1.2'}}</span>
            </td>
            <td>
                <span *ngIf="trai.hagia">{{ trai.gia | onSale | uppercase }}</span>
            </td>
        </tr>
    </table> -->
    Tỉnh thành phố: 
    <select id = "city" (change)="changeCity($event)">
        <option *ngFor="let data of VietNamData" value="{{data.city}}">
            {{data.city}}
        </option>
    </select>
    <br>
    Quận Huyện:
    <select id="district">
        <option *ngFor="let district of districts" value="{{district}}">
            {{district}}
        </option>
    </select><br>
    <span>Counter = {{ counter }}</span><br>
    <span>Counter^2 = {{ counterBinhPhuong }}</span>
</div>