<div class="test">
    <h3>Đây là component about</h3> 
    <h1>Trái cây</h1>
        <div *ngFor="let trai of TraiCay; let i = index">
            <li>{{ i + 1 }}. {{ trai}}</li>
        </div>
    <br/>
    <table class="table">
        <tr>
            <th>Thứ tự</th>
            <th>Tên</th>
            <th>Giá</th> 
            <th>Đại hạ giá</th>         
        </tr>
        <tr *ngFor="let trai of TraiCay2; let i =index">
            <td>{{ i+1 }}</td>
            <td>{{ trai.ten }}</td>
            <td class="right">
                <span [ngClass]="{'so-am': trai.gia<0}">{{ trai.gia }}</span>
            </td>
            <td>
                <span *ngIf="trai.hagia">Đang hạ giá</span>
            </td>
        </tr>
    </table>
</div>